.shipShapes {
  grid-area: shape;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ship {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape {
  width: 50%;
}

.status {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
